@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{ width: 1516px; font-family: '함초롬바탕';}


header{width: 1516px; height: 40px; font-family: 'nanumgothic'; background-color: black;}

header>ul.tp_bar>li>a{display: inline-block; float: right; margin-right: 20px; margin-top: 8px; width: 80px; height: 25px; font-size: 20px;color: black; font-weight: 600;text-align: center; line-height: 24px; background-color: white; border-radius: 10%}

p.info{text-align: right; margin-right: 20px; margin-top: 235px; color: rgba(255,255,255,0.6); line-height: 16px;}
ul.tp_bar>li>a:hover{color: white; background-color: crimson; }

section{width: 1516px; height: 666px; overflow-y: scroll; }

footer{padding-top: 4.2px; width: 1516px; height: 40px; color: rgba(255,255,255,0.6); text-align: center; background-color: black;}

div.mid{height: 684px; text-align: center; line-height: 64px; border: 1px solid transparent; background-image: url(./images/IMG_6435_Moment_black_3.jpg); background-repeat: no-repeat; background-position: center; background-size: cover }

div.mid>h1.title{margin-top: 250px; color: white; font-size: 45px; font-weight: 100;}
div.mid>h2.subtit{color: white; font-size: 45px; font-weight: 100;}
span.tit_crimson{color: crimson; font-weight: 600; background-color:rgba(0,0,0,0.7);}

div.sound,div.hobby{margin-left: 10px;text-align: left;}

h2.tit{margin-top: 40px; margin-left: 120px; color: black; font-size: 40px; font-weight: 100;  text-align: left;}

h3.sound_tit{margin-top: 30px; margin-left: 160px; margin-bottom: 50px;color:  crimson; font-size: 37px; font-weight: 100; }

h3.sound_tit+p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}


h3.video_tit{margin-left: 190px; margin-bottom: 12px; color:black; font-size: 17px; font-weight: 100;}

div.video>div{margin-bottom: 35px;}

div.block{width: 300px; height: 300px; float: right; margin-right: 200px; padding-left: 95px; border: 1px solid transparent; border-left-color: gray;}

div.block>h4{ margin-top: 42px; margin-bottom: 10px; font-size: 15px; }


span.hyper>a{font-weight: 800;}
span.hyper>a:hover{color: crimson;text-decoration: underline; }
span.tool{color: crimson; font-weight: 800;}



span.red{font-size: 23px; color: crimson;}


div.loca{float: right; margin-left: 190px; }

div.audio_1{float: right; margin-right: 195px;  }

div.audio_2{float: right;margin-right: 30px;}

div.audio_1>audio{ margin-bottom: 20px;}
div.audio_2>audio{ margin-bottom: 20px;}

h5.subtit{font-size: 16px; margin-bottom: 8px;}


p.box{margin-left: 460px; margin-top: -400px; width: 780px; height: 200px; }

p.box>span{width: 220px;height:160px;  text-align: center; font-size: 20px; line-height: 160px; font-weight: 700; color: transparent;}

span.frst{display:inline-block;background-image: url(images/market_1.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}

span.thrd{display:inline-block;background-image: url(images/market_4.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}
span.four{display:inline-block;background-image: url(images/market_2.jpg); background-position: center; background-size: contain;background-repeat: no-repeat;}

p.box>span:hover{color: white;opacity: 0.7;}

div.private>h3.sound_tit{margin-left: 170px; }
div.private{margin-top: 220px; margin-left: 40px; }

div.con{margin-left: 200px;}
div.private>p.desc{margin-bottom:70px;}
div.con>img{margin-bottom: 40px; width: 200px; height: 200px; }

div.con>audio{float: right;position: relative ;  top: -95px; left: 700px; margin-right: 440px; margin-top: -100px;}

h4.pri{  color: crimson; font-weight: 100; font-size: 24px;}

p.reas{position: relative; top:-150px; right: 500px;  float: right; width: 400px;}
p.date{ position: relative; top: -180px; right: 900px; float: right;}
h4.pri{ position: relative; top: -220px; margin-left: 250px;}


h3.garage{margin-left: 160px; margin-bottom: 50px; margin-top:30px;  font-size: 37px; font-weight: 100; color: crimson;}


div.hobby>div.garage>p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}

div.para_frst>div.para_1>h4{font-size: 16px; }
div.para_sec>div.para_2>h4{font-size: 16px; }
div.para_frst>div.para_1>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_frst>div.para_1>audio{margin-bottom: 20px;}

div.para_sec>div.para_2>h4{ margin-bottom: 10px; margin-left: 10px;}
div.para_sec>div.para_2>audio{margin-bottom: 20px;}

div.para_frst{float: right; margin-right: 400px; padding-left: 150px;height: 280px; border: 1px solid transparent; border-left-color: gray; }
div.para_sec{margin-left: 180px;}

h3.record{margin-left: 160px; margin-bottom: 30px; margin-top:50px;  font-size: 37px; font-weight: 100; color: crimson;}

div.record>div.para_frst{margin-top:-200px;height: 200px;}
div.record{margin-bottom: 50px;}

footer>span>a>img{position: relative; top: -30px; right: 10px; float: right; width: 30px; height: 30px;}

div.record>p.desc{font-size: 15px; line-height: 25px; margin-bottom: 30px; margin-left: 180px; margin-right: 180px;}


a.mimic{color: crimson;}
a.mimic:hover{text-decoration: underline; font-weight: 800;}

div.kkun{margin-left: 180px; margin-bottom: 60px;}

div.kkun>h3{margin-top: 40px; margin-bottom: 20px; font-size:  25px; font-weight: 100; color: black;}
div.pile>img{margin-right: 20px; margin-bottom: 20px; width: 400px; height:240px;}
div.pile_hes>img{margin-right: 20px; margin-bottom: 20px; width: 400px; height:280px;}



a.underline:hover{text-decoration: underline; font-weight: 800;}

p.desc_game{ font-size:  15px;  margin-left: 180px; margin-top: -120px; line-height: 25px;}

span.snow>img{display: inline-block;width: 400px; margin-left:  200px; 
}

span.py{display: block; position: relative; left: 700px; top: -200px; width: 700px; font-size: 15px; line-height: 25px;}

h5.sub{margin-bottom: 15px; margin-top: 30px; font-size: 25px; font-weight: 100;}

p.code{display: inline-block;width: 800px; height: 300px; overflow-y: scroll; font-size: 14px; border: 1px solid red;}